<div>
  <div class="form-group">
    <div *ngIf="errorMessage">
      <span class="alert alert-danger">{{errorMessage}}</span>
    </div>
    <div>
      <label for="searchbox" class="col-sm-4 col-form-label">
        Company Name:
      </label>
      <div class="col-sm-6">
        <input
          class="form-control"
          type="text"
          id="searchbox"
          name="searchbox"
          placeholder="Company Name or Number"
          required
          [(ngModel)]="searchTerms"
          #searchbox="ngModel"
        />
        <div
          *ngIf="
            searchbox.invalid &&
            (searchbox.dirty || searchbox.touched || searchbox.value === '')
          "
          class="alert alert-danger"
        >
          <div *ngIf="searchbox.errors?.['required']">
            search term is required
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <button class="col-sm-1 btn btn-primary btn-md" (click)="search()">Search</button>
  </div>
  <div *ngIf="$data | async as data">
    <app-search-results [companyItems]="data.items"></app-search-results>
  </div>
</div>
